table {
    width: 100%;
    text-align: center;
}
thead {
    background: rgb(13, 204, 140);
    text-transform: uppercase;
}
table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 19px;
}
.fokontany-container {
    margin: .4em;
}
.f_id, .f_name{
    display: flex;
    
}
.f_label {
    color: #089a5d;
    text-decoration: underline;
}