.main-container {
    display: flex;
    position: relative;
    margin-top: 200px;
}
.left-side-stat {
    position: absolute;
    top: 50px;
    left: 0;
    background: #e9eaea;
    width: 30%;
}
.main-content {
    width: 70%;
}
.form-container {
    width: max-content;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto;
}
.left-side-stat ul {
    padding: 0 1em;
}
.left-side-stat li {
    list-style: none;
}

.content-options ul {
    list-style: none;
 
}
.content-options a {
    text-decoration: none;
    color: black;
    /* background: rgb(177, 133, 0); */
}
/* .container-options {
    padding: .5em;
} */

div#result-options {
    margin: auto;
    margin-top: 2em;
    max-width: max-content;
    text-align: center;
}